
#post-categories {
  margin: 0 auto;
  width: 90%;
  display: block;
  font-size: 15px;

  
  ul {
      margin: 0 auto;
      padding: 1em 0 1em 0;
      max-width: 1000px;
      border-bottom: 1px solid rgba(0,0,0,.05);
            
      @media (max-width: 767px){
        width: 90%;
      }
  }

  li {
      display: inline-block;
      margin: 0.7em 1em;
      .active {
          color: #5A5A5A;
          padding-bottom: 22px;
          border-bottom: 2px solid #0066ffbb;
      }
  }
}


.categories {
  margin: 2em 0 3em;
  text-align: center;
  font-family: $global-font-family;

  .categories-title {
    display: inline-block;
    font-size: $categories-title-size;
    color: $theme-color;
    border-bottom: $categories-title-border-bottom;
  }

  .categories-tags {
    margin: 10px 0;

    .category-link {
      display: inline-block;
      position: relative;
      margin: $categories-tags-link-margin;
      word-wrap: break-word;
      transition-duration: 0.2s;
      transition-property: transform;
      transition-timing-function: ease-out;

      .category-count {
        display: inline-block;
        position: relative;
        top: -8px;
        right: -2px;
        color: $theme-color;
        font-size: $category-count-font-size;
      }

      &:active,
      &:focus,
      &:hover {
        color: $theme-color;
        transform: scale(1.1);
      }
    }
  }
}